Repository Jujulego/lucifer-api, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, deployement

update: use class validator
  package.json
  src/daemons/daemon.controller.ts
  src/daemons/daemon.schema.ts
  src/daemons/daemon.service.ts
  src/users/user.controller.ts
  src/users/user.schema.ts
  src/users/user.service.ts
  yarn.lock
Labels: dependencies

fix: tests
  src/daemons/daemon.test.ts
Labels: none

add: update docker config endpoint
  src/daemons/configs/config.schema.ts
  src/daemons/configs/docker.schema.ts
  src/daemons/configs/docker.service.ts
  src/daemons/configs/registry.controller.ts
  src/daemons/configs/registry.service.ts
  src/daemons/daemons.module.ts
Labels: none

add: heroku config
  .idea/dataSources.xml
  Dockerfile
  Procfile
  app.yaml
Labels: deployement

update: relock
  yarn.lock
Labels: dependencies

update: snyk ignore
  .snyk
Labels: none

update: workflow
  .github/workflows/nodejs.yml
Labels: none

.github/labeler.yml:

dependencies:
  - package.json
  - yarn.lock

deployement:
  - Dockerfile
  - docker-compose.yml
