Repository Jujulego/lucifer-api, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, deployement

.github/labeler.yml:

dependencies:
  - package.json
  - yarn.lock

deployement:
  - Dockerfile
  - docker-compose.yml

update: upgrade dependencies
  .eslintrc
  .idea/jsonSchemas.xml
  .idea/lucifer-api.iml
  .prettierrc
  package.json
  src/utils/json.ts
  src/utils/typeorm.ts
  src/utils/types.ts
  yarn.lock
Labels: dependencies

add: nestjs
  .gitignore
  .idea/jsonSchemas.xml
  nest-cli.json
  nest/package.json
  nest/tsconfig.build.json
  nest/tsconfig.json
  package.json
  src/app.controller.test.ts
  src/app.controller.ts
  src/app.module.ts
  src/main.ts
  tests/app.test.ts
  tsconfig.json
  tsconfig.prod.json
  yarn.lock
Labels: dependencies

update: keep old starter
  package.json
Labels: dependencies

fix: compilation errors
  Dockerfile
  package.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Labels: dependencies, deployement

update: adapt api routes
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  src/api.controller.test.ts
  src/api.controller.ts
  src/app.controller.test.ts
  src/app.controller.ts
  src/app.module.ts
  tests/app.test.ts
Labels: none

update: adapt users management
  package.json
  src/app.module.ts
  src/auth0.module.ts
  src/auth0.service.ts
  src/users/auth0.service.ts
  src/users/local.service.ts
  src/users/user.controller.ts
  src/users/user.entity.ts
  src/users/user.service.ts
  src/users/users.module.ts
  tsconfig.build.json
  yarn.lock
Labels: dependencies

update: adapt daemons management
  src/app.module.ts
  src/daemons/daemon.controller.ts
  src/daemons/daemon.service.ts
  src/daemons/daemons.module.ts
  src/users/user.controller.ts
  src/users/users.module.ts
Labels: none

update: setup middlewares
  src/app.module.ts
  src/morgan.interceptor.ts
Labels: none

update: adapt api tests
  .github/workflows/nodejs.yml
  jest.config.js
  package.json
  src/app.module.ts
  src/main.ts
  src/morgan.interceptor.ts
  src/server.ts
  tests/api.test.ts
  tests/app.test.ts
  tsconfig.build.json
  tsconfig.json
Labels: dependencies

update: adapt auth logic
  package.json
  src/app.module.ts
  src/auth/auth.module.ts
  src/auth/auth0.strategy.ts
  src/auth/jwt.strategy.ts
  src/daemons/daemon.controller.ts
  src/main.ts
  src/users/user.controller.ts
  yarn.lock
Labels: dependencies

update: adapt auth tests
  src/auth/auth.module.ts
  src/auth/auth0.strategy.ts
  src/auth/jwt.service.ts
  src/auth/jwt.strategy.ts
  src/daemons/daemon.test.ts
  src/env.ts
  src/users/auth0.mock.ts
  src/users/auth0.service.ts
  src/users/user.test.ts
  src/utils/errors/errors.constants.ts
  src/utils/should.ts
  tests/api.test.ts
  tests/api/auth.test.ts
  tests/api/users.test.ts
  tests/utils.ts
Labels: none

update: adapt unit tests
  src/api.controller.test.ts
  src/daemons/daemon.test.ts
  src/users/local.test.ts
  src/users/user.test.ts
  tests/api/auth.test.ts
  tests/api/daemons.test.ts
  tests/api/users.test.ts
Labels: none

update: remove unused dependencies
  package.json
  src/api.router.ts
  src/app.ts
  src/auth/auth.middleware.ts
  src/context/context.model.ts
  src/context/express.context.ts
  src/context/index.ts
  src/context/test.context.ts
  src/daemons/daemon.router.ts
  src/db.service.ts
  src/inversify.config.ts
  src/logger.service.ts
  src/resources/lrn.model.ts
  src/resources/lrn.test.ts
  src/resources/resource.model.ts
  src/users/user.router.ts
  src/utils/__tests__/aroute.test.ts
  src/utils/__tests__/check.test.ts
  src/utils/__tests__/inversify.test.ts
  src/utils/aroute.ts
  src/utils/check.ts
  src/utils/errors/errors.middleware.ts
  src/utils/errors/errors.model.ts
  src/utils/errors/index.ts
  src/utils/http.ts
  src/utils/index.ts
  src/utils/inversify.ts
  src/utils/should.ts
  src/utils/typeorm.ts
  yarn.lock
Labels: dependencies

update: downgrade eslint
  package.json
  yarn.lock
Labels: dependencies

update: eslint config
  package.json
  yarn.lock
Labels: dependencies

remove: nest directory
  nest/package.json
  nest/tsconfig.build.json
  nest/tsconfig.json
Labels: none

update: validate environment
  .eslintrc
  src/env.schema.ts
  src/env.ts
Labels: none

fix tests
  .github/workflows/nodejs.yml
Labels: none

fix: tests
  .github/workflows/nodejs.yml
  src/env.ts
Labels: none

fix: codecov workflow
  .github/workflows/nodejs.yml
Labels: none

add: test auth0 service
  src/users/auth0.test.ts
Labels: none

update: split database configuration in a module
  src/app.module.ts
  src/database.module.ts
  src/users/local.test.ts
Labels: none

update: user service tests
  src/users/local.test.ts
  src/users/user.service.ts
  src/users/user.test.ts
Labels: none

update: upgrade dependencies
  package.json
  yarn.lock
Labels: dependencies

update: use class transformer
  package.json
  src/app.module.ts
  src/daemons/daemon.entity.ts
  src/env.ts
  src/main.ts
  src/transform.interceptor.ts
  src/users/local.entity.ts
  src/users/user.model.ts
  src/users/user.service.ts
  src/utils/index.ts
  src/utils/json.ts
  yarn.lock
Labels: dependencies

update: daemon model
  .idea/dataSources.xml
  db/migrations/1591738482696-DaemonMetadata.ts
  db/migrations/1591739153169-DaemonConfig.ts
  src/daemons/config.entity.ts
  src/daemons/daemon.entity.ts
Labels: none

update: inject user data in daemons
  .idea/.gitignore
  .idea/dataSources.xml
  src/daemons/config.entity.ts
  src/daemons/daemon.controller.ts
  src/daemons/daemon.entity.ts
  src/daemons/daemon.interceptor.ts
  src/daemons/daemons.module.ts
  src/users/local.entity.ts
  src/users/local.service.ts
  src/users/user.service.ts
Labels: none

update: daemon config model
  db/migrations/1591739153169-DaemonConfig.ts
  db/migrations/1591886751089-DaemonConfig.ts
  src/daemons/config.entity.ts
  src/daemons/configs/config.entity.ts
  src/daemons/configs/config.module.ts
  src/daemons/configs/docker.entity.ts
  src/daemons/configs/registry.entity.ts
  src/daemons/daemon.entity.ts
  src/daemons/daemons.module.ts
Labels: none

fix: typeorm config
  .idea/lucifer-api.iml
  src/daemons/configs/config.module.ts
  src/database.module.ts
Labels: none

add: local user metadata
  db/migrations/1591889935541-LocalUserMetadata.ts
  src/daemons/daemon.controller.ts
  src/daemons/daemon.interceptor.ts
  src/daemons/daemon.test.ts
  src/daemons/daemons.module.ts
  src/database.module.ts
  src/users/auth0.model.ts
  src/users/auth0.service.ts
  src/users/auth0.test.ts
  src/users/local.entity.ts
  src/users/local.service.ts
  src/users/local.test.ts
  src/users/user.model.ts
  src/users/user.service.ts
  src/users/user.test.ts
  tests/api/daemons.test.ts
  tests/api/users.test.ts
Labels: none

update: allow daemon name editing
  src/daemons/daemon.schema.ts
  src/daemons/daemon.service.ts
  src/users/local.service.ts
  src/users/user.service.ts
Labels: none

fix: daemons schemas
  .idea/runConfigurations/start.xml
  package.json
  src/daemons/daemon.schema.ts
  src/main.ts
  yarn.lock
Labels: dependencies

add: update user endpoint
  src/auth0.module.ts
  src/users/auth0.model.ts
  src/users/auth0.service.ts
  src/users/local.entity.ts
  src/users/local.service.ts
  src/users/user.controller.ts
  src/users/user.schema.ts
  src/users/user.service.ts
Labels: none

add: gcp config
  app.yml
  package.json
Labels: dependencies

add: bulk daemon delete
  src/daemons/daemon.controller.ts
  src/daemons/daemon.service.ts
Labels: none

update: allow dependencies modification
  src/daemons/daemon.schema.ts
  src/daemons/daemon.service.ts
Labels: none

update: gcp config
  .gitignore
  .idea/dataSources.xml
  app.yaml
  nodemon.json
Labels: none

add: get daemon config types endpoint
  src/daemons/configs/config.controller.ts
  src/daemons/configs/config.entity.ts
  src/daemons/configs/config.module.ts
  src/daemons/configs/config.service.ts
  src/daemons/configs/docker.entity.ts
  src/daemons/daemon.entity.ts
Labels: none

add: get daemon config endpoint
  src/daemons/configs/config.controller.ts
  src/daemons/configs/config.module.ts
  src/daemons/configs/config.service.ts
  src/daemons/configs/docker.service.ts
  src/daemons/configs/registry.entity.ts
  src/daemons/configs/registry.service.ts
Labels: none

add: daemon config creation endpoint
  db/migrations/1592405316052-DockerConfigDefaults.ts
  src/daemons/configs/config.controller.ts
  src/daemons/configs/config.module.ts
  src/daemons/configs/config.schema.ts
  src/daemons/configs/docker.entity.ts
  src/daemons/configs/docker.service.ts
  src/daemons/configs/registry.service.ts
  src/daemons/daemons.module.ts
Labels: none
